name: Release

on:
  push:
    branches: [main]
    paths: [.github/workflows/release.yml]
  workflow_run:
    workflows: [Test]
    branches: main
    types: completed

jobs:
  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - linux-x64
          - linux-arm64
          - windows-x64
          - darwin-x64
          - darwin-arm64
          - linux-x64-musl
          - linux-arm64-musl

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          show-progress: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install node dependencies
        run: bun install --frozen-lockfile

      - name: Compile
        run: bun compile --target bun-${{ matrix.target }} --outfile dist/PanoptoScraper-${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-${{ matrix.target }}
          path: dist/PanoptoScraper-${{ matrix.target }}

  release:
    if: github.event_name == 'push' || github.event.workflow_run.conclusion == 'success'
    needs: compile
    uses: winstxnhdw/actions/.github/workflows/release.yml@main
    with:
      release-tag: latest
      release-title: Build
      release-asset: dist/*
      artifact-name: build-*
      artifact-path: dist/
    permissions:
      contents: write
